.main-logo {
    position: relative;
}

.main-logo::before {
    position: absolute;
    top: 15px;
    left: 75px;
    width: 60px;
    height: 1px;
    background-color: #000;
    content: '';
}

.main-logo::after {
    position: absolute;
    top: 15px;
    right: 75px;
    width: 60px;
    height: 1px;
    background-color: #000;
    content: '';
}