.app{
    &__header{
        width: 100%;
        min-height: 260px;
        padding: 52px 180px;
        background-color: grey;
        background-image: url('../../resources/img/coffee-shop-header.png');
        background-repeat: no-repeat;
        background-size: cover;
        color:#fff;
    }

    &__header-title {
        margin-top: 60px;
        color: #fff;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
    }
}

a {
    color:#fff;
}